.filter-bar {
    display: flex;
    color: #62646a;
    justify-content: space-between;
    .left {
        display: flex;
        align-items: center;

    }
    .right {
        display: flex;
        span {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
        }
        .content {
            padding: 1rem;
            .dropdownitem {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                
            }
        }
        
    }
}

.gigscarddisplay {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}