.popular {
    padding: 0px 32px;
    display: block;
    
    .container {
        padding: 40px 0px;
        display: flex;
        gap: 30px;
        flex-direction: column;

        h2 {
          font-size: 48px;
          color: #404145;
          font-weight: normal;   
        }

        .swiper-popular {
        }
    }
}