.guide-card {
    .guide-info {
        
        .link {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            img {
                height: 278px;
                width: 397px;
                border-radius: 5px;
            }
            p {
                font-size: 18px;
                font-weight: 800;
                color: #404145;
            }
        }
    }
}