.mygigs {
    padding: 40px 0;
    .container {
        padding: 0 32px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                background-color: #1dbf73;
                color: white;
                font-weight: 500;
                border: none;
                padding: 10px;
                cursor: pointer;
                border-radius: 4px;
            }
        }

        table {
           width: 100%;
           
           tr {
            height: 50px;
            
            th {
                text-align: left;
            }

            td {

                img {
                    width: 50px;
                    height: 25px;
                    object-fit: cover;
                }

                .delete {
                    cursor: pointer;
                }
            }
            &:nth-child(even) {
                background-color: #cef0cc;
            }
           }
        }
    }
}