.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    // background-color: #e9ecef;
    border-radius: 0.375rem;
}
  
  .breadcrumb-item {
    display: flex;
}
  
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #c5c6c9;
    content: "/";
}
  
.breadcrumb-item > a {
    color: #222325;
    text-decoration: none;
    background-color: transparent;
}
  
.breadcrumb-item > a:hover {
    // color: #0056b3;
    text-decoration: underline;
}
  
.breadcrumb-item.active {
    color: #6c757d;
}
  