.gigs {
    padding: 0 32px;
    .container {
        padding: 40px 0;            
            h1 {
                padding: 8px 0;
            }
            .subsection {
                display: flex;
                padding: 10px 0;
                .subtitle {
                    font-size: 16px;
                    color: #74767e;
                }
                .seperator {
                    color: lightgray;
                    margin: 0 3px 0 10px;
                }
                .video {
                    padding: 0 12px 0 8px;
                    border-radius: 15px;
                    align-items: center;
                    color: #222325;
                    background-color: white;
                    font-size: 16px;
                    border: none;
                    display: flex;
                    
                    position: relative;

                    &:hover {
                        background-color: lightgray;
                    }
                    .play {
                        
                    }
                    span {}
                }
            }
        }
    //     .gigs-corousel {
    //         // height: 98px;
    //         margin: 20px 0 10px 0;
    //         z-index: -1;
            
            
    //         .swiper {
    //             padding: 30px 0 0 0;

    //             .swiper-wrapper {

    //                 .swiper-slide {
    //                     width: auto !important;
                        
    //                     .fitting {
    //                         display: flex;
    //                         justify-content: center;
    //                         align-items: center;
                                

    //                         .corousel-link {
    //                             width: auto;
    //                             padding: 12px;
    //                             display: flex;
    //                             justify-content: center;
    //                             align-items: center;
                                
                                
    //                             .card {
    //                                 height: auto;
    //                                 display: flex;
    //                                 padding: 8px;
    //                                 flex-direction: row;
    //                                 justify-content: center;
    //                                 border: 1px solid lightgray;
    //                                 border-radius: 40px;
    //                                 align-items: center;
    //                                 cursor: pointer;
    //                                 white-space: nowrap;
    //                                 width: auto !important;
                                                                  
                                    
    
    //                                 .card-image {
    //                                     height: 40px;
    //                                     width: 40px;
    //                                     padding: 8px;
    //                                     border-radius: 50%;
    //                                     background-color: lightgray;                                    
    //                                     img {
    //                                         height: 40px;
    //                                         width: 40px;
                                            
                                            
    //                                     }
    //                                 }
    //                                 .card-title {
    //                                     margin: 0 12px;
    //                                     // white-space: nowrap;         
    //                                 }
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //             .swiper-button-prev {
    //                 position: absolute;
    //                 top: 15px;
    //                 right: 1030px !important;
    //                 height: 20px;
    //                 width: 20px;
    //                 border-radius: 50%;
    //                 padding: 8px;
    //                 color: black;
    //                 border: 1px solid lightgray;
    //             }
    //             .swiper-button-next {
    //                 position: absolute;
    //                 top: 15px;
    //                 height: 20px;
    //                 width: 20px;
    //                 border-radius: 50%;
    //                 padding: 8px;
    //                 color: black;
    //                 border: 1px solid lightgray;
    //             }
    //         }            
    // }
    
}
