.review {
    .item {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        gap: 30px;
        .image {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;



            }
        }
        .user {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .details {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                
                h6 {
                    font-size: 16px;
                    font-weight: 700;
                }
                img {
                    height: 18px;
                    width: 18px;
                    padding-left: 10px;
                }
                p {
                    font-size: 12px;
                    padding-left: 8px;
                    color: #74767e;
                }
                .divider {
                    color: lightgray;
                    margin: 2px 8px;
                }
                .star {
                    margin-right: 8px;
                    // height: 15px;
                    // width: 15px;
                    span {
                        margin-left: 8px;
                    }
                }
            }
            p {
               .see-more-link {
                    color: black;
               } 
            }
            time {}
        }
    }
}