.footer {
    padding: 0 32px;
    .container {
        padding: 24px 0;
        .top {
            display: flex;
            justify-content: space-around;
            padding: 40px;
            .item {
                display: flex;
                flex-direction: column;
                gap: 20px;
                h6 {
                    font-size: 16px;
                }
                .link {
                    color: #74767e;
                    &:hover {
                        text-decoration: underline;
                    }
                    em {
                        font-size: 14px;
                        color: #b5b6ba;
                        font-style: normal;
                    }
                }
            }
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            color: #b5b6ba;
            padding-top: 15px;
            .left {
                display: flex;
                gap: 20px;
                width: max-content;
                align-items: center;
                h6 {
                    font-size: 30px;
                    font-weight: bold;
                }
                span {
                    font-size: 14px;
                    white-space: nowrap;
                }
            }
            .right {
                display: flex;
                width: max-content;
                align-items: center;
                gap: 30px;

                
                .social {
                    display: flex;
                    gap: 20px;
                    ul {
                        display: flex;
                        list-style: none;
                        gap: 15px;
                        li {
                            padding: 6px;
                            border-radius: 50%;
                            &:hover {
                                background-color: #EFEFF0;;
                            }
                            img {
            
                                height: 20px;
                                width: 20px;        
                            }
                        }
                    }
                }
                .link {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    padding: 6px;
                    border-radius: 12px;
                    &:hover {
                        background-color: #EFEFF0;
                    }
                    img {
                        cursor: pointer;
                        height: 15px;
                        width: 15px;
                        border: none;
                    }
                    span {
                        font-size: 14px;
                    }
                }
                .access {
                    border-radius: 50%;
                    padding: 6px;
                    &:hover {
                        background-color: #EFEFF0;
                    }
                    img {
                        
                        height: 20px;
                        
                    }
                }

            }
        }
    }
}