.packages {
    h2 {
        font-size: 20px;
        padding-bottom: 25px;
    }
    table {
        font-size: 14px;
        border: 1px solid #efeff0;
        border-collapse: collapse;
        color: #62646a;
        text-align: left;
        colgroup {
            col {
                border-right: 1px solid #efeff0; 

                &:first-child {
                    color: #74767e;
                }
            }
        }
        .add-bg {
            background-color: #fafafa;
        }
        .package-roll {
            padding: 12px 16px;
            font-size: 14px;
            text-align: left;
            vertical-align: text-top;
            // height: 142px;
            color: #74767e;
        }
        .price-type-title-roll {
            color: #62646a;
            font-size: 14px;
            text-align: left;
            vertical-align: text-top;
            padding: 24px 16px 6px 16px;

            .price {
                font-size: 19px;
                margin-bottom: 8px;
            }
            .type {
                font-size: 19px;
                padding-bottom: 16px;
            }
            .title {
                font-size: 12px;
                // padding-bottom: 8px;
            }
        }
        .desc {
          padding: 0 16px 24px 16px;
          line-height: 21px;  
          text-align: left;
          vertical-align: top;
        }
        td {
            text-align: center;
            vertical-align: middle;
        }
        .delivery-roll {
            padding: 12px 16px;

            .delivery {
                padding-bottom: 12px;
                display: flex;
                align-items: center;
                gap: 15px;
                justify-content: center;
                flex-direction: column;
                vertical-align: top;
                label {
                    cursor: pointer;
                    
                    input[type="radio"]:checked {
                        padding: 5px 8px 0 0;
                        accent-color: #222322;
                        // border-color: #222322;
                    }
                    
                }
            }
        }
    }
    .total-roll {
        padding: 12px 16px;

        .price-total {
            padding-bottom: 12px;

            p{
                font-size: 16px;
            }
           
        }
        .select {
            padding: 12px 24px;
            color: white;
            background-color: black;
            border-radius: 5px;
            border: none;
            width: 142px;
            height: 42px;

            &:hover {
                background-color: #62646a;
            }

            p {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }

}