.featured {
    padding: 40px 32px 0 32px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
        background-image: url("../../../public/images/hero-md-x1.webp");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        height: 490px;
        position: relative;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;

        .hero-section {
            display: flex;
            flex-direction: column;
            
            .hero-text {
                font-family: 'Macan', 'Helvetica Neue', 'Helvetica', Arial, san-serif;
                font-size: 60px;
                letter-spacing: -1.2px;
                line-height: 69px;
                text-align: center;
                color: white;
                width: 800px;
                height: 144px;
                display: block;
                font-weight: normal;
    
                i {
                    font-size: 62px;
                    font-style: italic;
                    letter-spacing: -1.55px;
                    line-height: 71.3px;
                    display: inline;
                }
            }
            
            .search-bar {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 15px;
                border-radius: 0 5px 5px 0;
                // background-color: #004a2f;
                
                
                input {
                    padding: 15px 58px 15px 16px;
                    width: 560px;
                    border-radius: 10px;
                    border: 1px solid #dadbdd;
                    font-size: 18px;
                    display: block;
                    color: #404145;
                }
                .search-button {
                    display: flex;
                    font-size: 18px;
                    font-weight: 700;
                    text-align: center;
                    text-align: center;
                    background-color: #003912;
                    height: 46px;
                    width: 46px;
                    justify-content: center;
                    padding: 14px 14px;
                    border-radius: 10px;
                    color: white;
                    border: 1px solid white;
                    cursor: pointer;
                    position: absolute;
                    display: flex;
                    left: 875px;
                        
                }
            }
        }

        .trusted-logos {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            font-size: 12px;
            color: #62646a;
            // position: absolute;
            justify-content: center;
            gap: 15px;
            align-items: center;

            span {
                font-size: 12px;
                color: #ccc;
                margin-right: 10px;


            }

            ul {
                list-style-type: none;
                display: flex;
                list-style-position: outside;
                gap: 40px;
                
                li {
                    img {
                        width: 73px;
                        height: 16px;
                        display: block;
                    }
                }
            }
        }
    }
}