.fifthcard {
    padding: 10px 0 10px 5px;
    
    .fifthy {
        border-radius: 16px;
    position: relative;
    color: black;
    height: 181px;
    width: 246px;
    box-shadow: #0000000E 0px 0.08px 2.55728px 0px, #00000014 0px 1.28px 5.57858px 0px, #00000021 0px 3px 10px 0px;

        .service-link {
            text-align: center;
            padding: 20px 16px 16px 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            gap: 16px;
            img {
                height: 80px;
                width: 80px;
                align-self: center;
            }
            p {
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                letter-spacing: 0.7px;
            }
        }
    }
}