.gig {
    padding: 40px 0;
    .container {
        padding: 0 32px;
        display: grid;
        grid-template-columns: 702px 410px;
        gap: 120px;


        .left {

            h1 {
                padding-bottom: 16px;
            }
            hr {
                color: lightgray;
                margin: 16px 0;
            }
            .loyalty-banner {
                display: flex;
                gap: 10px;
                font-size: 14px;
                padding-left: 4px;
                margin: 0 0 15px 0;
                align-items: center;

                img {
                    height: 48px;
                    width: 35px;
                }
            }
            .fourth {
                padding: 2px 0;
                display: flex;
                justify-content: space-between;

                h2 {
                    font-size: 20px;
                    font-weight: 700;
                    padding-bottom: 25px;
                }
            }

        }
        .right {
            
            .right-side {
                top: 10%;
                position: sticky;
            }

        }

    }
}